body{
    background-color: bisque;
}

nav{
    margin-left: 30%;
    margin-top: 3%;
}

button{
    background-color: black;
    height:200px;
    width: 250px;
    font-size: 30px;
    font-family: cursive;
}
a{
    color: red;
}

a:hover{
    color: aqua;
}

a:active{
    color: rgb(255, 0, 136);
}