body{
    background-image: url("icon6.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.OuterDiv{
    height: 450px;
    width: 300px;
    margin-left: 250px;
    margin-top: 10px;
    transition: transform;
    transition-duration: 2s;
    transform-style: preserve-3d;
    float: left;
}

.OuterDiv div{
    height: 380px;
    width: 300px;
    float: left;
    position: absolute;
    text-align: center;
    backface-visibility: hidden;
}

.Front{
    padding-top: 20px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
    color: red;
    /* background-color: rgb(140, 121, 161); */
    z-index: 100;
}

.Rear{
    background-color: rgb(57, 163, 212);
    transform: rotateY(180deg);
}

.OuterDiv:hover{
    transform: rotateY(180deg);
}

#O21{
    margin-left: 540px;
}

.wrot{
    width: 260px;
    height: 300px;
    margin-top: 20px;   
}

.rot{
    transform: rotate(90deg);
    margin-top: 45px;
    width: 300px;   
    height: 260px;
}

audio{
    display: none;
}
