h1{
    background: #2980b9;
    color: white;
    margin: 0;
    padding : 10px 20px;
    font-size: 24px;
    font-weight: normal;
}

.fa-pen{
    float : right;
}

span{
    background-color: #e74c3c;
    height: 40px;
    color: white;
    margin-right: 20px;
    display: inline-block;
    text-align: center;
    width:0;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover span{
    width: 40px;
    opacity: 1;
}

ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #5433FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+,
                                                                               Chrome 26+, Opera 12+, Safari 7+ */
}

li{
    background: white;
    /* border: 2px solid rebeccapurple; */
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    padding-top:10px;
    padding-bottom: 10px;
}

li:nth-child(2n){
    background: #f7f7f7;
}

input{
    color: #2980b9;
    width: 100%;
    padding: 13px 13px 13px 20px;
    font-size: 20px;
    box-sizing: border-box;
}

input:focus{
    background: #fff;
    border : 3px solid royalblue;
    outline: none;
}

#container{
/*    background-color: gray;*/
    width: 360px;
    margin: 100px auto;
    /* border: 4px solid gray; */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .4);    
    background: #f7f7f7;
}

.completed{
    color : gray;
    text-decoration: line-through;
}

marquee{
    margin-top:1.45%;
    font-family: 'Dancing Script', cursive;
    color:red;
    font-size: 47px;
}

audio{
    margin-left : 41.5%;
    display: none;
}