body{
/*    background-color: chocolate;*/
    background-image: url(Des1.png);
    margin-top: 30px;
}

/* canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    /* background-color: black;
  } */

  /* body {
    padding:0;
    margin:0;
    overflow:hidden;
	height: 600px;
}
canvas {
    padding:0;
    margin:0;
}
div.btnbg {
    position:fixed;
    left:0;
    top:0;
} */


h1{
    color:deeppink;
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 55px;
}

nav{
    margin-left:25%;
}

button{
    background-color:crimson;
    color: wheat;
    border: 2px solid black;
    float:left;
    padding: 15px 50px;
    font-size: 20px;
}

button a{
 color:wheat;
  text-decoration: none;
}

/*
#Drop{
    color:darkgreen;
    border: 2px solid black;
    background-color: burlywood;
    font-family: sans-serif;
    padding: 15px 32px;
    font-size: 20px;
}
*/

/*
option{
    font-size: 20px;
    padding: 15px 32px;
}
*/

video{
/*    align-content: center;*/
    border: 4px solid black;
    margin-left:27%;
    background-color: black;
    margin-bottom: 20px;
}

marquee{
    font-family: arial;
    color:red;
    font-size: 27px;
}